# {{ ansible_managed }}

---
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: etcd-servers
  namespace: d8-monitoring
  labels:
    prometheus: main
spec:
  # tlsConfig:
  #   insecureSkipVerify: true
  authorization:
    credentials:
      key: token
      name: prometheus-token
  honorLabels: true
  scheme: HTTP
  staticConfigs:
{% for h in exporters %}
  - targets:
      - {{ h }}:{{ etcd_port}}
    labels:
      standNode: {{ h }}
{% endfor %}
  relabelings:
    - regex: endpoint|namespace|pod|service
      action: labeldrop
    - targetLabel: scrape_endpoint
      replacement: main
    - targetLabel: job
      replacement: etcd-servers
  metricsPath: '/metrics'
